<%= form_with(model: fanfic, local: true) do |form| %>
  <% if fanfic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fanfic.errors.count, "error") %> prohibited this fanfic from being saved:</h2>

      <ul>
        <% fanfic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :genero %>
    <%= form.text_field :genero %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :resumo %>
    <%= form.text_area :resumo %>
  </div>

  <div class="field">
    <%= form.label :conteudo %>
    <%= form.text_area :conteudo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
