<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YourFanfic</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<header class="intro-header" style="background-image: url('img/fanfic.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Envie sua Fanfic</h1>
                        <h2 class="subheading">Divida sua história conosco</h2>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <% if current_user %>
      <h3><%= link_to 'Nova Fanfic', new_fanfic_path %></h3>
    <% end %>
<br>
<h3>Suas fanfic enviadas</h3>
<table>
  <thead>
    <tr>
      <h3><th>Titulo</th></h3>
      <h3><th>Genero</th></h3>
      <h3><th>Status</th></h3>
      <h3><th>Resumo</th></h3>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fanfics.each do |fanfic| %>
      <tr>
        <td><%= fanfic.titulo %></td>
        <td><%= fanfic.genero %></td>
        <td><%= fanfic.status %></td>
        <td><%= fanfic.resumo %></td>

        <td><%= link_to 'Ler', fanfic %></td>
        <% if current_user %>
          <td><%= link_to 'Editar', edit_fanfic_path(fanfic) %></td>
          <td><%= link_to 'Excluir', fanfic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
