
<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @post.genero %>
</p>

<p>
  <strong>Resumo:</strong>
  <%= @post.resumo %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= simple_format (@post.conteudo) %>
</p>
<br>
<h2>Comentários</h2>
<% @post.comentarios.each do |comentario| %>

  <p>
    <b>Autor:</b>
    <%= comentario.autor %>
  </p>

  <p>
    <b>Comentario:</b>
    <%= comentario.conteudo %>
  </p>
  <%= link_to 'Excluir', [comentario.post, comentario], method: :delete %>

<hr />


<% end %>

<h2>Adicione um comentario:</h2>
<%= form_for([@post, @post.comentarios.build]) do |f| %>
  <div class="field">
    <%= f.label :autor %><br />
    <%= f.text_field :autor %>
  </div>
  <div class="field">
    <%= f.label :conteudo %><br />
    <%= f.text_area :conteudo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br />

<% if current_user && current_user.admin %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
